// Custom styles.
body {
  background: url("../images/bg.png");
}

// hide daovoice in mobile
.daodream-container {
  +mobile() {
    display: none;
  }
}

.daodream-powered-by {
  display: none !important;
}
